#top-wrapper {
    width: 95%;
    margin: 10px auto;
    margin-bottom: 35px;
    max-width: 800px;
}

.ajax-indicator {
    position: fixed;
    top: 1px;
    width: 96%;
    margin: 0 2%;
    background-color: #e35f32;
    color: #eee;
    font-weight: bold;
    text-align: center;
    font-size: 1.5em;
    padding: 2px 0;
    border-bottom: solid 1px #aa473a;
}

#top-wrapper .quiz-list {
    list-style: decimal;
}

#top-wrapper dt {
    padding: 10px 0 0 10px;
    border-radius: 5px 5px 0 0;
    border-bottom: solid 1px #CCC;
}
#top-wrapper dd {
    padding: 0 10px 10px 10px;
    border-radius: 0 0 5px 5px;
    margin-bottom: 10px;
}

#top-wrapper dt,
#top-wrapper dd {
    /*background-color: #eee;*/
}

pre.code {
    padding: 0;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.428571429;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: transparent;
    border: 0;
    border-radius: 0;
}